<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NCorp_Mail_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <NCorp_Mail_Client.Properties.Settings>
            <setting name="bgd_00dp" serializeAs="String">
                <value>10, 14, 29</value>
            </setting>
            <setting name="bgd_01dp" serializeAs="String">
                <value>22, 26, 41</value>
            </setting>
            <setting name="bgd_02dp" serializeAs="String">
                <value>27, 31, 45</value>
            </setting>
            <setting name="bgd_03dp" serializeAs="String">
                <value>29, 33, 47</value>
            </setting>
            <setting name="bgd_04dp" serializeAs="String">
                <value>32, 36, 49</value>
            </setting>
            <setting name="bgd_06dp" serializeAs="String">
                <value>37, 40, 54</value>
            </setting>
            <setting name="bgd_08dp" serializeAs="String">
                <value>40, 43, 56</value>
            </setting>
            <setting name="bgd_12dp" serializeAs="String">
                <value>45, 48, 61</value>
            </setting>
            <setting name="bgd_16dp" serializeAs="String">
                <value>47, 50, 63</value>
            </setting>
            <setting name="bgd_24dp" serializeAs="String">
                <value>49, 53, 65</value>
            </setting>
            <setting name="tds_00dp" serializeAs="String">
                <value>223, 224, 226</value>
            </setting>
            <setting name="tdm_00dp" serializeAs="String">
                <value>157, 159, 165</value>
            </setting>
            <setting name="tdw_00dp" serializeAs="String">
                <value>103, 106, 115</value>
            </setting>
            <setting name="tds_01dp" serializeAs="String">
                <value>224, 225, 227</value>
            </setting>
            <setting name="tdm_01dp" serializeAs="String">
                <value>161, 163, 169</value>
            </setting>
            <setting name="tdw_01dp" serializeAs="String">
                <value>110, 113, 122</value>
            </setting>
            <setting name="tds_02dp" serializeAs="String">
                <value>225, 226, 227</value>
            </setting>
            <setting name="tdm_02dp" serializeAs="String">
                <value>163, 165, 171</value>
            </setting>
            <setting name="tdw_02dp" serializeAs="String">
                <value>113, 116, 124</value>
            </setting>
            <setting name="tds_03dp" serializeAs="String">
                <value>225, 226, 228</value>
            </setting>
            <setting name="tdm_03dp" serializeAs="String">
                <value>164, 166, 171</value>
            </setting>
            <setting name="tdw_03dp" serializeAs="String">
                <value>115, 117, 126</value>
            </setting>
            <setting name="tds_04dp" serializeAs="String">
                <value>226, 226, 228</value>
            </setting>
            <setting name="tdm_04dp" serializeAs="String">
                <value>165, 167, 172</value>
            </setting>
            <setting name="tdw_04dp" serializeAs="String">
                <value>116, 119, 127</value>
            </setting>
            <setting name="tds_06dp" serializeAs="String">
                <value>226, 227, 229</value>
            </setting>
            <setting name="tdm_06dp" serializeAs="String">
                <value>167, 169, 174</value>
            </setting>
            <setting name="tdw_06dp" serializeAs="String">
                <value>119, 121, 130</value>
            </setting>
            <setting name="tds_08dp" serializeAs="String">
                <value>227, 227, 229</value>
            </setting>
            <setting name="tdm_08dp" serializeAs="String">
                <value>169, 170, 175</value>
            </setting>
            <setting name="tdw_08dp" serializeAs="String">
                <value>121, 123, 131</value>
            </setting>
            <setting name="tds_12dp" serializeAs="String">
                <value>227, 228, 230</value>
            </setting>
            <setting name="tdm_12dp" serializeAs="String">
                <value>171, 172, 177</value>
            </setting>
            <setting name="tdw_12dp" serializeAs="String">
                <value>124, 126, 134</value>
            </setting>
            <setting name="tds_16dp" serializeAs="String">
                <value>228, 228, 230</value>
            </setting>
            <setting name="tdm_16dp" serializeAs="String">
                <value>171, 173, 178</value>
            </setting>
            <setting name="tdw_16dp" serializeAs="String">
                <value>126, 128, 136</value>
            </setting>
            <setting name="tds_24dp" serializeAs="String">
                <value>228, 229, 230</value>
            </setting>
            <setting name="tdm_24dp" serializeAs="String">
                <value>172, 174, 179</value>
            </setting>
            <setting name="tdw_24dp" serializeAs="String">
                <value>127, 129, 137</value>
            </setting>
            <setting name="std_font" serializeAs="String">
                <value>Segoe UI, 12pt</value>
            </setting>
            <setting name="cm_blue" serializeAs="String">
                <value>50, 94, 214</value>
            </setting>
            <setting name="cm_cyan" serializeAs="String">
                <value>57, 192, 197</value>
            </setting>
            <setting name="cm_green" serializeAs="String">
                <value>127, 181, 66</value>
            </setting>
            <setting name="cm_yellow" serializeAs="String">
                <value>207, 202, 57</value>
            </setting>
            <setting name="cm_orange" serializeAs="String">
                <value>214, 103, 54</value>
            </setting>
            <setting name="cm_red" serializeAs="String">
                <value>225, 51, 69</value>
            </setting>
            <setting name="cm_magenta" serializeAs="String">
                <value>197, 57, 169</value>
            </setting>
            <setting name="cm_purple" serializeAs="String">
                <value>122, 57, 197</value>
            </setting>
            <setting name="icon_flagged" serializeAs="String">
                <value></value>
            </setting>
            <setting name="icon_unflagged" serializeAs="String">
                <value></value>
            </setting>
        </NCorp_Mail_Client.Properties.Settings>
    </applicationSettings>
</configuration>